<md-dialog aria-label="login.html" ng-cloak id="password-restore-dialog">
    <md-toolbar class="md-accent md-hue-2">

        <div class="md-toolbar-tools">
            Восстановление доступа
        </div>

    </md-toolbar>
    <md-dialog-content layout-padding>

        <form novalidate name="restoreForm">

            <md-content flex>
                <p class="md-body-1">
                    Для того чтобы начать процедуру восстановления доступа,
                    <br>введите e-mail, на который зарегистрирован Ваш аккаунт
                    <br>в системе, и нажмите ОК. После этого на Ваш e-mail
                    <br>будут высланы дальнейшие инструкции.</p>
            </md-content>

            <md-input-container class="md-block" flex>
                <label>E-mail</label>

                <input required type="email" name="username"
                       ng-model="dialog.username"
                       ng-disabled="dialog.readOnly">

                <div ng-messages="restoreForm.username.$error" role="alert">
                    <div ng-message-exp="['required', 'email']">
                        Введен некорректный e-mail.
                    </div>
                </div>
            </md-input-container>

            <div flex layout="row" layout-align="center center">
                <div id="g-recaptcha-restore" class="recaptcha"></div>
            </div>

        </form>

    </md-dialog-content>
    <md-dialog-actions layout="row" layout-padding>

        <md-button ng-click="dialog.restorePassword()" ng-disabled="!restoreForm.$valid">OK</md-button>
        <md-button ng-click="dialog.cancel()">Отмена</md-button>

    </md-dialog-actions>
</md-dialog>