<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2>Шаблон документа</h2>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12" name="owner">
                    <div class="form-group">
                        <label for="<%-data.cid%>-template-owner">Владелец документа</label>
                        <input type="text"  class="form-control" id="<%-data.cid%>-template-owner" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" name="templateClass">
                    <div class="form-group">
                        <label for="<%-data.cid%>-template-class">Класс документа</label>
                        <input type="text"  class="form-control" id="<%-data.cid%>-template-class" />
                    </div>
                </div>
            </div>
            <div class="row" style="display: none" name="template">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="<%-data.cid%>-template">Шаблон</label>
                        <input type="text" class="form-control" id="<%-data.cid%>-template" />
                    </div>
                </div>
            </div>
            <div class="row" style="display: none" name="fields">
                <div class="col-md-12">
                    <table class="table table-striped" >
                        <caption>
                            Пользовательские поля <img src="/img/loading.gif" style="display: none">
                        </caption>
                        <thead>
                        <tr>
                            <th style="width: 35%;">Название</th>
                            <th>Значение</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" style="display: none" name="participants">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <caption>
                            Участники <img src="/img/loading.gif" style="display: none">
                        </caption>
                        <thead>
                        <tr>
                            <th style="width: 35%;">Название</th>
                            <th>Значение</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal">Отмена</button>
            <a href="#" class="btn btn-primary accept">Сохранить</a>
            <a href="#" class="btn btn-primary accept" data-dismiss="modal">Сохранить и выйти</a>
        </div>
    </div>
</div>