<md-content layout="column" layout-padding layout-wrap layout-fill ng-cloak>

    <div md-whiteframe="1" flex layout layout-align="center center">
        <b>Экономический Советник - Параметры</b>
    </div>

    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Параметры ЭКС по умолчанию">

            <form novalidate name="ecsSettingsForm">

                <md-card>
                    <md-card-content layout="column">

                        <div layout="row">
                            <md-input-container class="md-block" flex>
                                <label>ОХР</label>
                                <md-tooltip md-direction="bottom">Общехозяйственные расходы (ОХР), %</md-tooltip>

                                <input required type="number" min="0" max="100" name="generalRunningCosts"
                                       ng-model="admin.ecoAdvisor.settings.generalRunningCosts"
                                       ng-model-options="{updateOn: 'blur'}">

                                <div ng-messages="ecsSettingsForm.generalRunningCosts.$error" multiple
                                     md-auto-hide="false">
                                    <div ng-message="required">значение не задано</div>
                                    <div ng-message="min">минимальное значение поля равно 0</div>
                                    <div ng-message="max">максимальное значение поля равно 100</div>
                                    <div ng-message="number">значение должно быть целым числом</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex>
                                <label>зарплата</label>
                                <md-tooltip md-direction="bottom">Зарплата вместе со ВСЕМИ зарплатными налогами
                                    составляет
                                    по отношению к ОХР, не более, %
                                </md-tooltip>

                                <input required type="number" min="0" max="100" name="wage"
                                       ng-model="admin.ecoAdvisor.settings.wage"
                                       ng-model-options="{updateOn: 'blur'}">

                                <div ng-messages="ecsSettingsForm.wage.$error" multiple md-auto-hide="false">
                                    <div ng-message="required">значение не задано</div>
                                    <div ng-message="min">минимальное значение поля равно 0</div>
                                    <div ng-message="max">максимальное значение поля равно 100</div>
                                    <div ng-message="number">значение должно быть целым числом</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex>
                                <label>НДС</label>
                                <md-tooltip md-direction="bottom">Ставка налога на добавленную стоимость, %</md-tooltip>

                                <input required type="number" min="0" max="100" name="vat"
                                       ng-model="admin.ecoAdvisor.settings.vat"
                                       ng-model-options="{updateOn: 'blur'}">

                                <div ng-messages="ecsSettingsForm.vat.$error" multiple md-auto-hide="false">
                                    <div ng-message="required">значение не задано</div>
                                    <div ng-message="min">минимальное значение поля равно 0</div>
                                    <div ng-message="max">максимальное значение поля равно 100</div>
                                    <div ng-message="number">значение должно быть целым числом</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex>
                                <label>налог на прибыль</label>
                                <md-tooltip md-direction="bottom">Ставка налога на прибыль, %</md-tooltip>

                                <input required type="number" min="0" max="100" name="taxOnProfits"
                                       ng-model="admin.ecoAdvisor.settings.taxOnProfits"
                                       ng-model-options="{updateOn: 'blur'}">

                                <div ng-messages="ecsSettingsForm.taxOnProfits.$error" multiple md-auto-hide="false">
                                    <div ng-message="required">значение не задано</div>
                                    <div ng-message="min">минимальное значение поля равно 0</div>
                                    <div ng-message="max">максимальное значение поля равно 100</div>
                                    <div ng-message="number">значение должно быть целым числом</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex>
                                <label>подоходный налог</label>
                                <md-tooltip md-direction="bottom">Ставка подоходного налога (НДФЛ), %</md-tooltip>

                                <input required type="number" min="0" max="100" name="incomeTax"
                                       ng-model="admin.ecoAdvisor.settings.incomeTax"
                                       ng-model-options="{updateOn: 'blur'}">

                                <div ng-messages="ecsSettingsForm.incomeTax.$error" multiple md-auto-hide="false">
                                    <div ng-message="required">значение не задано</div>
                                    <div ng-message="min">минимальное значение поля равно 0</div>
                                    <div ng-message="max">максимальное значение поля равно 100</div>
                                    <div ng-message="number">значение должно быть целым числом</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex>
                                <label>доля собственника</label>
                                <md-tooltip md-direction="bottom">Доля Собственника в Уставном капитале, %</md-tooltip>

                                <input required type="number" min="0" max="100" name="proprietorshipInterest"
                                       ng-model="admin.ecoAdvisor.settings.proprietorshipInterest"
                                       ng-model-options="{updateOn: 'blur'}">

                                <div ng-messages="ecsSettingsForm.proprietorshipInterest.$error" multiple
                                     md-auto-hide="false">
                                    <div ng-message="required">значение не задано</div>
                                    <div ng-message="min">минимальное значение поля равно 0</div>
                                    <div ng-message="max">максимальное значение поля равно 100</div>
                                    <div ng-message="number">значение должно быть целым числом</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex>
                                <label>обл. дивидендов</label>
                                <md-tooltip md-direction="bottom">Ставка обложения выплачиваемых дивидендов для доли
                                    собственника физического лица, %
                                </md-tooltip>

                                <input required type="number" min="0" max="100" name="taxOnDividends"
                                       ng-model="admin.ecoAdvisor.settings.taxOnDividends"
                                       ng-model-options="{updateOn: 'blur'}">

                                <div ng-messages="ecsSettingsForm.taxOnDividends.$error" multiple md-auto-hide="false">
                                    <div ng-message="required">значение не задано</div>
                                    <div ng-message="min">минимальное значение поля равно 0</div>
                                    <div ng-message="max">максимальное значение поля равно 100</div>
                                    <div ng-message="number">значение должно быть целым числом</div>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <div flex="40" layout layout-align="start center">Доля чистой прибыли, остающаяся в расп.
                                Компании, %
                            </div>

                            <md-slider flex min="0" max="100" step="1" aria-label="slider"
                                       ng-model="admin.ecoAdvisor.settings.companyProfit"></md-slider>

                            <div flex="5" flex-offset="5" layout layout-align="center center">
                                <input flex type="number" ng-model="admin.ecoAdvisor.settings.companyProfit"
                                       ng-disabled="true">
                            </div>
                        </div>

                        <div layout="row">
                            <div flex="40" layout layout-align="start center">НАЦЕНКА, %</div>

                            <md-slider flex min="{{admin.marginSliderMin}}" max="{{admin.marginSliderMax}}" step="1"
                                       aria-label="slider"
                                       ng-model="admin.ecoAdvisor.settings.margin"
                                       ng-blur="admin.onMarginSliderChange(admin.ecoAdvisor.settings.margin)"></md-slider>

                            <div flex="5" flex-offset="5" layout layout-align="center center">
                                <input flex type="number" ng-model="admin.ecoAdvisor.settings.margin"
                                       ng-disabled="true">
                            </div>
                        </div>

                        <div layout="row">
                            <div flex="40" layout layout-align="start center">Оценка товара, как паевого взноса, %</div>

                            <md-slider flex min="0" max="100" step="1" aria-label="slider"
                                       ng-model="admin.ecoAdvisor.settings.shareValue"></md-slider>

                            <div flex="5" flex-offset="5" layout layout-align="center center">
                                <input flex type="number" ng-model="admin.ecoAdvisor.settings.shareValue"
                                       ng-disabled="true">
                            </div>
                        </div>

                        <div layout="row">
                            <div flex="40" layout layout-align="start center">Доля средств, которую Собственник
                                оставляет в КУч, %
                            </div>

                            <md-slider flex min="0" max="100" step="1" aria-label="slider"
                                       ng-model="admin.ecoAdvisor.settings.departmentPart"></md-slider>

                            <div flex="5" flex-offset="5" layout layout-align="center center">
                                <input flex type="number" ng-model="admin.ecoAdvisor.settings.departmentPart"
                                       ng-disabled="true">
                            </div>
                        </div>

                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="admin.ecoAdvisor.saveSettings()" ng-disabled="!ecsSettingsForm.$valid">
                            Сохранить
                        </md-button>
                        <md-button ng-click="admin.ecoAdvisor.reloadSettings()">Отменить</md-button>
                    </md-card-actions>
                </md-card>

            </form>

        </md-tab>
        <md-tab label="Счета">

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-subhead">Счет для направления паевой выгоды Системы БЛАГОСФЕРА</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="column" layout-align="space-between">

                    <account-search first-name="'Alan'" last-name="'Rickman'"></account-search>

                </md-card-content>
            </md-card>

        </md-tab>
    </md-tabs>

</md-content>